@model EmployeeCRUD.Models.Department

<h3>Confirm delete?</h3>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dept_name)
        </dd>

        <dt>
            Dept Manager
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.employee_name)
        </dd>

    </dl>

    <p class="text-danger">@ViewBag.err</p>

    @using (Html.BeginForm())
    {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Go back", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
